.movie-swiper-type-1-container .swiper-button-next,
.movie-swiper-type-1-container .swiper-button-prev {
    /* opacity: 0;
    transition: opacity 0.3s ease; */
    display: none;
    top: calc(50% - 30px);
    color: white;
    z-index: 999;
}

.movie-swiper-type-1-container:hover .swiper-button-next,
.movie-swiper-type-1-container:hover .swiper-button-prev {
    display: block;
    opacity: 1;
    transition: opacity 0.3s ease;
    /* background: linear-gradient(270deg, #000000 35%, rgba(0, 0, 0, 0.5) 100%); */
}

.movie-swiper-type-1-container .swiper-button-next:hover,
.movie-swiper-type-1-container .swiper-button-prev:hover {
    color: #ff6500;
}

.movie-swiper-type-1-container .swiper-slide img {
    object-fit: cover;
    width: 100%;
}

.movie-swiper-type-1-container h5 {
    margin-top: 0.5rem;
}

.movie-swiper-type-1-container .poster-fluid {
    max-width: 252px;
    aspect-ratio: 2 / 1;
}

.swiper-button-disabled {
    pointer-events: auto !important;
    display: none !important;
}

.swiper-type-1-content:hover {
    color: #ff6500 !important;
}

/* Hiển thị mũi tên điều hướng khi di chuột vào vùng Swiper */
/* .movie-swiper-type-1-container:hover .swiper-button-next,
.movie-swiper-type-1-container:hover .swiper-button-prev {
    opacity: 1;
} */

/* Căn chỉnh hình ảnh */
/* .swiper-slide img {
    object-fit: cover;
    width: 100%;
}

.movie-swiper-type-1-container {
    min-width: 240px;
}

h5 {
    margin-top: 0.5rem;
} */

.open-more {
    color: rgba(255, 255, 255, 0.55) !important;
}

.open-more:hover {
    color: #ff6500 !important;
}

.swiper-content-title {
    min-height: 48px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Số dòng tối đa hiển thị */
    -webkit-box-orient: vertical;
    white-space: normal; /* Cho phép xuống dòng */
}