.account-management-container .modal-content {
  border-radius: 10px;
}

.custom-focus:focus {
  border-color: #ffa726;
  box-shadow: 0 0 0 0.25rem rgba(255, 87, 51, 0.25);
}

.custom-switch:checked {
  background-color: #ffa726;
  border-color: #ffa726;
}

.custom-switch:checked:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 87, 51, 0.25);
}

.account-management-header {
  border-bottom: 1px solid #dee2e6;
}

.account-management-header .search-box {
  width: 250px;
  position: relative;
  border: #dee2e6 solid 1px;
  padding: 6px 12px;
}

.account-management-header .search-box .search-input {
  border: none;
  outline: none;
}

.account-management-header .search-box .search-input:focus {
  border: none;
  outline: none;
}

.account-management-header .search-box .search-icon {
  color: #ccc;
}

.account-management-header .btn-primary {
  background-color: #ffa726;
  border-color: #ffa726;
  /* width: 175px; */
}

.account-management-header .btn-primary:hover {
  background-color: #ffb74d;
  border-color: #ffb74d;
}

.account-management-header .btn-primary {
  background-color: #ffa726;
  border-color: #ffa726;
}

.account-management-header .btn-primary:hover {
  background-color: #ffb74d;
  border-color: #ffb74d;
}


.save-account-btn {
  background-color: #ffa726;
  border-color: #ffa726;
}

.save-account-btn:hover {
  background-color: #ffb74d;
  border-color: #ffb74d;
}

.account-management-container .account-manage-input-modal-body input:-webkit-autofill {
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s;
  caret-color: black;
}

/* .account-management-container .pagination .page-link {
  color: #333;
}

.account-management-container .pagination .page-item.active .page-link {
  background-color: #ffa726;
  border-color: #ffa726;
} */

.account-management-container .pagination {
  width: 500px;
  margin-bottom: 150px !important;
}