

/* Ẩn mũi tên điều hướng mặc định */
.movie-swiper-type-2-container .swiper-button-next,
.movie-swiper-type-2-container .swiper-button-prev {
    display: none;
    top: calc(50% - 30px) !important;
    color: white;
    z-index: 999;
}

/* Hiển thị mũi tên điều hướng khi di chuột vào vùng Swiper */
.movie-swiper-type-2-container:hover .swiper-button-next,
.movie-swiper-type-2-container:hover .swiper-button-prev {
    display: block;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.movie-swiper-type-2-container .swiper-button-next:hover,
.movie-swiper-type-2-container .swiper-button-prev:hover {
    color: #ff6500;
}

/* Căn chỉnh hình ảnh */
.movie-swiper-type-2-container .swiper-slide img {
    object-fit: cover;
    width: 100%;
}

.movie-swiper-type-2-container h5 {
    margin-top: 0.5rem;
}

.movie-swiper-type-2-container .poster-fluid {
    max-width: 252px;
    aspect-ratio: 1 / 1.5;
}

.swiper-type-2-content:hover {
    color: #ff6500 !important;
}