.navbar-brand img {
  max-width: 45px;
}

.offcanvas-body .nav-link {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
}

.nav-link:hover {
  color: #ff6500 !important;
}

/* .avatar {
  border-radius: 50%;
  border: 2px solid #fff;
} */

#account-dropdown-item:hover {
  background: #393939;
  color: #ff6500 !important;
}

#offcanvasNavbar {
  width: 250px;
}

/* .btn-close {
  background-color: #fff;
} */

@media (min-width: 992px) {
  .offcanvas {
    display: none; /* Ẩn offcanvas khi trên màn hình lớn */
  }
}

.search-div {
  position: relative;
  display: inline-block;
}

.search-div i {
  scale: 1.2;
}

/* .search-div span {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  opacity: 0;
  transition: transform 0.2s ease, opacity 0.2s ease;
  white-space: nowrap;
}

.search-div:hover span {
  transform: translate(0, -50%);
  opacity: 1;
}

.search-div:hover .prev-icon {
  display: none;
} */

.search-div:hover {
  color: #ff6500 !important; /* Đổi màu icon khi hover */
}

.avatar-img {
  border-radius: 50%;
  /* border: 2px solid #ffa263; */
  /* background-color: #ffa263; */
  /* border: 2px solid white;
  background-color: white; */
}

.to-admin-site {
  color: rgba(255, 255, 255, 0.55);
}

.to-login-site:hover {
  color: #ff6500 !important;
}